#contenedor-form-img{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#formulario{
    width: 50%;
}

img {
    transition: opacity 1s ease-in-out;
}

.oculto {
    opacity: 0;
}

aside{
    display: none;
}

@media(width<= 780px){
    #contenedor-imagen{
        display: none;
    }

    #formulario{
        width: 100%;
    }
}