#contenedor-formulario-registro{
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario{
    width: 30%;
}

.texto-pequeño{
    font-size: .9rem;
    margin-bottom: .6rem;
}

#btn{
    width: min-content;
}

@media(width<= 780px){

    #formulario{
        width: 90%;
    }

    .texto-pequeño{
        font-size: .8rem;
        margin-bottom: .6rem;
    }
}

