#contenedor-formulario-registro{
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario{
    width: 30%;
    /* background: #1D1D11; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.texto-pequeño{
    font-size: .9rem;
    margin-bottom: .6rem;
}

#btn{
    width: min-content;
}

@media(width<= 780px){

    #formulario{
        width: 90%;
    }

    .texto-pequeño{
        font-size: .8rem;
        margin-bottom: .6rem;
    }
}

