<!DOCTYPE html>
<html lang="es" data-bs-theme="light">
<head>
   <meta charset="UTF-8">
   <meta name="robots" content="noindex, nofollow">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--Bootstrap-->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <!-- FontAwesome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
   <!-- Fav icon -->
   <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav-icon-ti.png') }}" type="image/x-icon">
   <!-- Librería de js para gráficos -->
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <!-- Estilos para la base -->
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/base/template_base.css') }}">
   <!-- Librería de CSS para pequeñas animaciones con movimiento -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
   <!-- Enlaces -->
   {% block styles %} {% endblock %}
   <title>{% block title %} {% endblock %}</title>
</head>
<body data-bs-theme="light">
   <div class="container-large d-flex">
      <header>
         <figure>
            <img src="{{ url_for('static', filename='images/logo_teching.png') }}" alt="imagen-logo-teching">
         </figure>
         <button id="boton-mostrar-menu"><i class="fa-solid fa-2xl fa-bars"></i></button>
      </header>
      <aside class="p-3">
         <!-- Contenido del aside -->
         <ul class="list-group contenedor-menu">
            <li class="list-group-item py-3"><img src="{{ url_for('static', filename='images/logo_teching.png') }}" alt="imagen-logo"></li>
            <li type="button" class="list-group-item list-group-item-action py-3 menu-option"><i class="fa-solid fa-house-chimney"></i> Inicio</li>
            <li type="button" class="list-group-item list-group-item-action py-3 menu-option"><i class="fa-solid fa-users"></i> Usuarios</li>
            <li type="button" class="list-group-item list-group-item-action py-3 menu-option"><i class="fa-solid fa-box-open"></i> Activos</li>
            <li type="button" class="list-group-item list-group-item-action py-3 menu-option"><i class="fa-solid fa-paper-plane"></i> Movimientos</li>
            <li type="button" class="list-group-item list-group-item-action py-3 menu-option"><i class="fa-solid fa-file-signature"></i> Cargos</li>
            <div class="botones-mode">
               <li type="button" class="list-group-item list-group-item-action py-3 menu-option modo-claro"><i class="fa-solid fa-sun"></i></li>
               <li type="button" class="list-group-item list-group-item-action py-3 menu-option modo-oscuro"><i class="fa-solid fa-cloud-moon"></i></li>
            </div>
            <!-- <li type="button" class="list-group-item">ver. 0.0.1</button> -->
         </ul>
         <li type="button" class="list-group-item list-group-item-action py-3" id="boton-cerrar-menu"><i class="fa-regular fa-2xl fa-circle-xmark"></i></li>
      </aside>
      <main class="flex-grow-1">
         <!-- Contenido principal -->
         {% block content %}
         {% endblock %}
      </main>
   </div>

   <div id="flash-messages" class="position-fixed bottom-0 end-0 p-3 animate__animated animate__slideInRight" style="z-index: 9999;">
      {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
            {% for category, message in messages %}
               <div class="{{ category }}">
                  {{ message | safe}}
               </div>
            {% endfor %}
         {% endif %}
      {% endwith %}
   </div>

   <!--Bootstrap-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

   <script type="module" src="{{ url_for('static', filename='scripts/base/template_base.js') }}"></script>

   <script>
      document.addEventListener('DOMContentLoaded', function() {
         let flashMessages = document.getElementById('flash-messages')

         if (flashMessages) {
            setTimeout(()=>{
               flashMessages.classList.remove("animate__slideInRight")
               flashMessages.classList.add("animate__fadeOutRight")
            },3500)
         }
      })
  </script>
</body>
</html>